@CHARSET "ISO-8859-1";

.heading {
	background: pink;
	margin-bottom: 0;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.photopanel {
	margin-left: auto;
	margin-right: auto;
	width: 415px;
	padding: 5px;
	background-image:
		url("http://cdn.playbuzz.com/cdn/308a71e7-f125-4014-aaf6-38223f1c943b/c8ec1148-49d4-4523-8225-fbc19b4291d4.jpg");
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border: medium;
	border-color: silver;
	border-style: double;
}

button {
	color: black;
	font-style: normal;
	text-align: center;
	border: medium;
	border-color: silver;
	border-style: double;
	background: #ffe1e7;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

.b {
	margin-left: 35%;;
	margin-bottom: 10px;
}


img {
	border: medium;
	border-color: silver;
	border-style: double;
	margin-left: 5px;
}

form {
	width: 400px;
	height: 200px;
	background: white;
	border: medium;
	border-color: silver;
	border-style: double;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.user a{
	color: pink;
	border: medium;
	text-align: center;
	width: 100px;
	margin-left: 150px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	}
	
.tag{
	color: pink;
	text-align: center;
	border: medium;
	border-color: silver;
	border-style: double;
	margin-bottom: 10px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}	
.profile{
	border: medium;
	border-color: silver;
	border-style: double;
	display: block;
	height: 60px;
	display: block;
}
.toProfile{
	background: #ffe1e7;
	text-align: center;
	color:white;
	font-family: 'Roboto Slab', serif;
}

